* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #720460;
    color: white;
    text-align: center;
    padding: 1rem 0;
    height: 6.25rem;
}

.encabezado {
    padding-bottom: 10px;
}

.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.video {
    background-color: white;
    border: 1px solid #ddd;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.video iframe {
    width: 100%;
    height: 200px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #720460;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
nav li {
    margin: 0 1rem;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar{
    background-color: #440035;
    padding: 1rem 0;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        gap: 1.25rem;
        padding-right: 2.5rem;
    }
    .redes a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-weight: bold;
        padding: 10px;}


@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}