* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7; }

.container-index {
  max-width: 75rem;
  margin: 1.5rem;
  padding: 1.5rem; }
  .container-index p {
    padding: 0.625rem; }
  .container-index h1 {
    display: flex;
    justify-content: center;
    padding-bottom: .625rem; }
  .container-index h2 {
    display: flex;
    justify-content: center;
    padding-bottom: .625rem; }

.card {
  background-color: white;
  border: 0.125rem solid #ddd;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 0.625rem; }
  .card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); }
  .card h3 {
    margin-top: 2px; }
  .card p {
    display: flex;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 0.625rem; }
  .card a {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s; }
    .card a:hover {
      background-color: #555; }
      .card a {
        display: flex;
        justify-content: center;
        align-items: center; }

.card-tr:hover {
  transform: translateY(-4px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #720460;
  color: black;
  text-align: center;
  padding: 1rem 0; }

.contact-form {
  background-color: white;
  border: 1px solid #ddd;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
  .contact-form label {
    display: block;
    margin-bottom: 0.5rem; }
  .contact-form button {
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer; }
    .contact-form button:hover {
      background-color: #636363; }

.contact-form input[type="text"],
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px; }

.redes a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px; }

video {
  width: 100%; }

.experiencias p {
  text-align: justify;
  text-align: center; }

.experiencias ul {
  text-align: justify;
  text-align: center; }

.trayectoria {
  list-style-type: none;
  padding: 0; }

.trayectoria li {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px; }

.job-title {
  font-weight: bold;
  color: #333; }

.job-period {
  font-style: italic;
  color: #666; }

.job-description {
  margin-top: 10px;
  color: #444; }

.profile-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem; }
  .profile-picture-container img {
    width: 12.5rem;
    height: 12.5rem;
    border: 4px solid #fff;
    border-radius: 50%;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); }

.presentacion {
  padding: 1rem;
  margin: 0.5rem; }

.container-video {
  max-width: 75rem;
  margin: 1rem auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 1rem; }

.video-yt {
  background-color: white;
  border: 1px solid #ddd;
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
  .video-yt iframe {
    width: 100%;
    height: 12.5rem; }

.error-404 {
  margin-top: 100px; }
  .error-404 h1 {
    font-size: 120px;
    color: #dc3545; }
  .error-404 p {
    font-size: 24px;
    color: #343a40; }
  .error-404 .btn {
    margin-top: 20px;
    background-color: #000000;
    color: #fff; }

@media (min-width: 1000px) {
  .card a {
    margin: 0 6.25rem 0 6.25rem; } }

@media (min-width: 320px) {
  .container p,
  .card p,
  .card h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify; } }

@media (max-width: 400px) {
  .presentacion {
    text-align: center; } }

@media (max-width: 768px) {
  .container-video {
    grid-template-columns: 1fr; } }
